.shadow-element {
  position: absolute;
  height: 100px;
  left: -4.24%;
  right: 4.24%;
  top: -9px;
}

.main-box {
  position: absolute;
  height: 100px;
  left: 0%;
  right: 0%;
  top: 0px;
  background: #000000;
  border-radius: 0px; 
}
.frame-one {
  position: absolute;
  height: 100px;
  left: 54.93%;
  right: -35.49%;
  top: -6px;
}
.frame-two {
  position: absolute;
  height: 40px;
  left: -31.47%;
  right: 42.05%;
    top: calc(50% - 20px + 20px); 
}
.frame-three {
  position: absolute;
  height: 40px;
  left: 6.36%;
  right: 59.89%;
  top: calc(50% - 20px);
}
.contact-text {
  position: absolute;
  height: 16px;
  left: 35.67%;
  right: 47.84%;
  top: 12px;

  font-family: 'DM Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 16px; 

  color: #FFFFFF;
}
.evolution-title {
  position: absolute;
  width: 752px;
  height: 51px;
  left: 105px;
  top: 44px;
 font-family: 'Diphylleia', serif; 
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 16px; 
  color: #FFFFFF;
}